{% extends "base.html" %}

{% from "macros/pagination.html" import render_pagination %}

{% block title %}Books{% endblock %}


{% block content %}
    {% for post in this.pagination.items %}
        <h4>
            <a href="{{ post|url }}">
                {% if post.t_title %}
                    {{ post.t_title }} [{{ post.title }}] by {{ post.author }}
                {% else %}
                    {{ post.title }} by {{ post.author }}
                {% endif %}

            </a>
        </h4>
        <br/>

    {% endfor %}

    <div style="padding-left: 45px;">
        {% if this.pagination.pages > 1 %}
            {{ render_pagination(this.pagination) }}
        {% endif %}
    </div>

{% endblock %}
