{% extends "base.html" %}

{% from "macros/pagination.html" import render_pagination %}

{% block title %}Books{% endblock %}


{% block content %}

    <ul class="blog-index">
        {% for post in this.pagination.items %}
            <h2>
                <a href="{{ post|url }}">
                    {{ post.title }}
                </a>
            </h2>
        {% endfor %}
    </ul>

    <div style="padding-left: 45px;">
        {% if this.pagination.pages > 1 %}
            {{ render_pagination(this.pagination) }}
        {% endif %}
    </div>
{% endblock %}
